extends layout

block content
  main.col-md-9.ms-sm-auto.col-lg-10.px-md-4 
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1= title
      .btn-toolbar.mb-2.mb-md-0
        .btn-group.me-2
          a.btn.btn-sm.btn-outline-secondary(href='/catalog/genre/create') 
            i.bi.bi-file-plus-fill 
            span Add
  
    ul
    each val in list_genres
      li 
        a(href=val.url) #{val.name}

    else
      li There are no genre.
